//- components
include ~@comp/simple-rating/simple-rating.pug

//- В данном миксине используется шрифт Material Icons, необходимо подключить данный шрифт в проект
  const options = {
    href: String,
    number: Number,
    showArrows: Boolean,
    tag: String,
    price: Number,
    ratingValue: Number,
    numberOfReviews: Number,
  }

mixin card-room(options = {}, ...elements)
  - const { href = "/mock-address/change-me", number = 0, showArrows = false, tag = "", price = 0, ratingValue = 0, numberOfReviews = 0} = options;
    .card-room
      .card-room__wrapper
        .card-room__images.js-card-room__images
          .swiper-wrapper
            each element in elements
              img.swiper-slide(src=require(`./img/${element}`), alt= "photo of the hotel room")
          .card-room__pagination.js-card-room__pagination
          if showArrows
            button.card-room__btn.js-card-room__btn.card-room__btn_type_prev.js-card-room__btn_type_prev chevron_left
            button.card-room__btn.js-card-room__btn.card-room__btn_type_next.js-card-room__btn_type_next chevron_right
        a.card-room__block(href=`${href}`)
          .card-room__top
            .card-room__info
              span.card-room__symbol № 
              span.card-room__number= number
              span.card-room__tag= tag
            .card-room__price-block
              span.card-room__price(data-cost)= `${price}₽`
              |  в сутки
          hr.card-room__line
          .card-room__feedback
            +simple-rating({value: `${ratingValue}`})
            .card-room__comments.js-card-room__comments
              span.card-room__comments-meter.js-card-room__comments-meter= numberOfReviews
              |  отзывов
