//- components
include ~@comp/simple-rating/simple-rating.pug

mixin cardRoom(options, ...elements)
  - const { href = "/address/change-me", number, arrow = true, tag, price, ratingValue, numberOfReviews} = options;
    .card-room
      .card-room__images.js-card-room__images
        .swiper-wrapper
          each element in elements
            img.swiper-slide(src=require(`./img/${element}`), alt= "photo room hotel")
        .card-room__pagination.js-card-room__pagination
        if arrow
          button.card-room__btn.js-card-room__btn.card-room__btn_prev.js-card-room__btn_prev.material-icons chevron_left
          button.card-room__btn.js-card-room__btn.card-room__btn_next.js-card-room__btn_next.material-icons chevron_right
      a.card-room__wrapper(href=`${href}`)
        .card-room__top
          .card-room__info
            span № 
            span.card-room__number= number
            span.card-room__tag= tag
          .card-room__price
            span.card-room__price-current(data-cost)= `${price}₽`
            |  в сутки
        hr.card-room__line
        .card-room__feedback
          +simpleRating({value: `${ratingValue}`})
          .card-room__comment.js-card-room__comment
            span.card-room__comment-number= numberOfReviews
            |  отзывов
