//- 
  В данном миксине используется шрифт Material Icons, необходимо подключить данный шрифт в проект
  const options = {
    labelText: String,
    attributeName: String,
    attributeType: String,
    placeholder: String,
    valueInInput: String,
    addDateMask: Boolean,
    inputTypeSubsribe: Boolean,
    isValidate: Boolean,
    addClass: String,
  };
mixin input(options = {})
  - const { labelText = "", attributeName = "", attributeType = "text", placeholder = "", valueInInput = "", addDateMask = false, inputTypeSubsribe = false, isValidate = false, addClass = "" } = options;
  - const maskName = addDateMask ? "date" : null;  
    if inputTypeSubsribe
      .input
        label.input__label= labelText
          input(class="input__sub" name=attributeName type=attributeType placeholder=placeholder value=valueInInput data-validate=`${isValidate}`)
        button.input__sub-btn(type="submit")
          span.input__icon arrow_forward
    else
      .input
        label.input__label= labelText
          input(class=`${addClass}` name=attributeName type=attributeType placeholder=placeholder value=valueInInput data-typemask=maskName data-validate=`${isValidate}`)