//- const {labelText, labelTextSecond, id, attributeName, attributeType, placeholder, valueInInput, typeMask:{date}, dateWithDropdown(boolean), dateWithFilter(boolean), inputTypeEmail(boolean), isValidate(boolean), addClass} = options;
mixin input(options)
  - const {labelText, labelTextSecond, id, attributeName, attributeType, placeholder, valueInInput = "", typeMask, dateWithDropdown, dateWithFilter, inputTypeEmail, isValidate, addClass = ""} = options;
  - const validate = isValidate ? true : false;
    if dateWithDropdown
      div(class="form__group-input form__group-input_dropdown" data-selector= id)
        label.label-text-input.label-for-dropdown= labelText
          input(class="date-dropdown" readonly id=id data-start autocomplete="off" name=attributeName type=attributeType placeholder=placeholder data-validate=`${validate}`)
          span.material-icons keyboard_arrow_down
        label.label-text-input.label-for-dropdown= labelTextSecond
          input(class="date-dropdown" readonly  id=`${id}-second` data-end autocomplete="off" name= `${attributeName}-2` type=attributeType placeholder=placeholder data-validate=`${validate}`)
          span.material-icons keyboard_arrow_down
    else if dateWithFilter
      div(class="form__group-input form__group-input_dropdown" data-selector= id)
        label.label-text-input= labelText
          input(class="date-dropdown date-dropdown_small" readonly  id= id autocomplete="off" name=attributeName type=attributeType placeholder=placeholder data-validate=`${validate}`)
          span.material-icons keyboard_arrow_down
    else if inputTypeEmail
      .form__group-input.form__group-input_max-width
        label.label-text-input= labelText
          input(class="subscription subscription_small" name=attributeName type=attributeType placeholder=placeholder value=valueInInput data-validate=`${validate}`)
          button(type="submit")
            span.material-icons arrow_forward
    else
      .form__group-input
        label.label-text-input= labelText
          input(class=`${addClass}` name=attributeName type=attributeType placeholder=placeholder value=valueInInput data-typemask=typeMask data-validate=`${validate}`)