//- 
  В данном миксине используется шрифт Material Icons, необходимо подключить данный шрифт в проект
  const options = {
    labelText: String,
    attributeName: String,
    attributeType: String,
    placeholder: String,
    valueInInput: String,
    addDateMask: Boolean,
    inputTypeSubsribe: Boolean,
    isFocused: Boolean,
  };
mixin input(options = {})
  - 
    const { 
      labelText = "",
      attributeName = "",
      attributeType = "text",
      placeholder = "",
      valueInInput = "",
      addDateMask = false,
      inputTypeSubsribe = false,
      isFocused = false,
    } = options;
  - const classInputWithSubscribe = inputTypeSubsribe ? "input__field_variant_subscribe" : "";
  - const classInputFocused = isFocused ? "input__field_focused" : "";

  .input
    label.input__label= labelText
      input(
        class=`input__field ${classInputWithSubscribe} ${classInputFocused}`
        name= attributeName
        type= attributeType
        placeholder= placeholder
        value= valueInInput
        data-mask-date= addDateMask
      )
    if inputTypeSubsribe
        button.input__btn(type="submit")
          span.input__icon arrow_forward