//- const {labelText, labelTextSecond, id, attributeName, attributeType, placeholder, valueInInput, typeMask:{date}, dateWithDropdown(boolean), dateWithFilter(boolean), inputTypeEmail(boolean), isValidate(boolean), addClass} = options;
mixin input(options)
  - const {labelText, labelTextSecond, id, attributeName, attributeType, placeholder, valueInInput = "", typeMask, dateWithDropdown, dateWithFilter, inputTypeEmail, isValidate, addClass = ""} = options;
  - const validate = isValidate ? true : false;
    if dateWithDropdown
      div(class="input input_dropdown" data-selector= id)
        label.input__label.input__label_dropdown= labelText
          input(class="date-dropdown" readonly id=id data-start autocomplete="off" name=attributeName type=attributeType placeholder=placeholder data-validate=`${validate}`)
          span.material-icons keyboard_arrow_down
        label.input__label.input__label_dropdown= labelTextSecond
          input(class="date-dropdown" readonly  id=`${id}-second` data-end autocomplete="off" name= `${attributeName}-2` type=attributeType placeholder=placeholder data-validate=`${validate}`)
          span.material-icons keyboard_arrow_down
    else if dateWithFilter
      div(class="input input_dropdown" data-selector= id)
        label.input__label.input__label_small= labelText
          input(class="date-dropdown date-dropdown_width_max" readonly  id= id autocomplete="off" name=attributeName type=attributeType placeholder=placeholder data-validate=`${validate}`)
          span.material-icons keyboard_arrow_down
    else if inputTypeEmail
      .input.input_small
        label.input__label= labelText
          input(class="subscription subscription_small" name=attributeName type=attributeType placeholder=placeholder value=valueInInput data-validate=`${validate}`)
        button.subscription__btn(type="submit")
          span.material-icons arrow_forward
    else
      .input
        label.input__label= labelText
          input(class=`${addClass}` name=attributeName type=attributeType placeholder=placeholder value=valueInInput data-typemask=typeMask data-validate=`${validate}`)