//- components
include ~@comp/input-datepicker/input-datepicker
include ~@comp/dropdown/dropdown
include ~@comp/button/button

//- 
  В данном миксине используется шрифт Material Icons, необходимо подключить данный шрифт в проект
  const options = {
    title: String,
    formAction: String,
    formName: String,
    datepickerOptions: Object,
    dropdownOptions: Object,
    submitBtnOptions: Object,
  };

mixin card-search(options = {})
  - 
    const {
      title = "Найдём номера под ваши пожелания",
      formAction = "/mock-address/action",
      formName = "card-search",
      datepickerOptions = {},
      dropdownOptions = {},
      submitBtnOptions = {},
    } = options;

  .card-search
    .card-search__wrapper
      h1.card-search__title #{title}
      form(
        class="card-search__form"
        action=formAction
        method="get"
        name=formName
      )
        .card-search__block
          .card-search__elem
            +input-datepicker(datepickerOptions)
          .card-search__elem
            +dropdown(dropdownOptions)
        .card-search__btn 
          +button(submitBtnOptions)