//-
  const options = {
    theme: "transparent" || "simple" || "with-arrow" || "",
    text,
    btnType: "button" || "submit" || "reset",
    isLink: Boolean,
    href: "/mock-address/change-me",
    dataFunction: "clear" || "apply" || undefined,
    isHoverState: Boolean,
  }
mixin button(options, ...addclass)
  - const {theme = "", text = "", btnType = "button", isLink = false, href = "/mock-address/change-me", dataFunction, isHoverState = false} = options;
  - const optionTheme = theme ? `button_${theme}` : "";
  - let optionHover = "";

    if isHoverState && (theme === "")
      - optionHover = "button_with-hover";
    else if isHoverState
      - optionHover = `${optionTheme}-with-hover`;

    if isLink
      a(class=`button ${optionTheme} ${optionHover} ${addclass}` href= href)
        span.button__text= text
    else
      button(class=`button ${optionTheme} ${optionHover} ${addclass}` type= btnType data-function= dataFunction)
        span.button__text= text