//- options = { mod:{colored, transparent, simple, big}, text, btnType, isLink(boolean), href, btnFunction:{clear, apply}, ...addclass }
mixin button(options, ...addclass)
  - const {mod, text, btnType, isLink, href, btnFunction} = options;
    if isLink
      a(class="button button_" +mod +` ${addclass}` href=href)
        span.button__text= text
    else
      button(class="button button_" +mod +` ${addclass}` type= btnType data-function= btnFunction)
        span.button__text= text