//- components
include ~@comp/input/input
include ~@comp/radio-btn/radio-btn
include ~@comp/toggle/toggle
include ~@comp/button/button

//- 
  В данном миксине используется шрифт Material Icons, необходимо подключить данный шрифт в проект
  const options = {
    title: String,
    formAction: String,
    formName: String,
    inputOptions: {
      name: {},
      surname: {},
      birthday: {},
      email: {},
      password: {},
    },
    radioBtnOptions: [...options],
    toggleBtnOptions: [...options],
    buttonOptions: {
      submit: {},
      enter: {},
    },
  };

mixin card-reg(options = {})
  - 
    const {
      title = "Регистрация аккаунта",
      formAction = "/mock-address/action",
      formName = "card-registration",
      inputOptions = {},
      radioBtnOptions = [],
      toggleBtnOptions = [],
      buttonOptions = {},
    } = options;

  .card-reg
    .card-reg__block
      h1.card-reg__title #{title}
      form(
        class="card-reg__form"
        action=formAction
        method="post"
        name=formName
      )
        .card-reg__wrapper
          .card-reg__elem
            +input(inputOptions.name)
          .card-reg__elem
            +input(inputOptions.surname)
          .card-reg__elem.card-reg__elem_direction_row
            each options in radioBtnOptions
              .card-reg__radiobtn
                +radio-btn(options)
          .card-reg__elem
            +input(inputOptions.birthday)
          .card-reg__elem
            +input(inputOptions.email)
          .card-reg__elem
            +input(inputOptions.password)
          .card-reg__elem.card-reg__elem_direction_row
            each options in toggleBtnOptions
              .card-reg__toggle
                +toggle(options)
          .card-reg__btn
            +button(buttonOptions.submit)
      .card-reg__sign-in
        span.card-reg__text Уже есть аккаунт на Toxin
        .card-reg__mini-btn
          +button(buttonOptions.enter)