//- components
include ~@comp/checkbox/checkbox.pug
//-
  В данном миксине используется шрифт Material Icons, необходимо подключить данный шрифт в проект
  const options = {
    title: String,
    name: String,
    isOpen: Boolean,
    objWithElem: {
      String: Boolean,
    },
  };
mixin checkbox-list(options = {})
  - 
    const {
      title = "",
      name = "",
      isOpen = false,
      objWithElem = {},
    } = options;

    let checkboxStyle = {display: "none"};
    let checkboxArrow = "keyboard_arrow_down";
    let checkboxActiveClass;
    
  if isOpen
    - checkboxArrow = "keyboard_arrow_up";
    - checkboxActiveClass = "checkbox-list__wrapper_active";
    - checkboxStyle = null;
  .checkbox-list
    h3.checkbox-list__block.js-checkbox-list__block(tabindex="0")= title
      span(class="checkbox-list__arrow")= checkboxArrow
    div(class=`checkbox-list__wrapper ${checkboxActiveClass}` style=checkboxStyle)
      each isChecked, element in objWithElem
        .checkbox-list__elem
          +checkbox({
            title:`${element}`,
            nameCheckbox:`${name}[]`,
            isChecked,
          })
