//- components
include ~@comp/checkbox/checkbox.pug
//-
//- const { text, name, open(boolean), elements } = options;
mixin checkbox-list(options)
  - const { text, name, open = "false", elements } = options;
      .checkbox-list__block
        h3.checkbox-list.js-checkbox-list(tabindex="0")= text
          if open == true
            span(class="material-icons active") keyboard_arrow_up
          else
            span(class="material-icons") keyboard_arrow_down
        if open == true
          .checkbox-list__wrapper.checkbox-list__wrapper_active
            each value, element in elements
              +checkbox({text:`${element}`, name:`${name}[]`, checked: value})
        else
          .checkbox-list__wrapper(style={display: "none"})
            each value, element in elements
              +checkbox({text:`${element}`, name:`${name}[]`, checked: value})