//- 
  В данном миксине используется шрифт Material Icons, необходимо подключить данный шрифт в проект
  const options = {
    labelTextFirst: String,
    labelTextSecond: String,
    attributeName: String,
    attributeType: String,
    placeholder: String,
    valueInInput: String,
    hasOneInput: Boolean,
    data: {
      startDate: "2019-08-19",
      finishDate: "2019-08-23",
      enableArrowRotation: Boolean,
      setMinDate: Boolean,
    },
  };

mixin input-datepicker(options = {})
  - 
    const {
      labelTextFirst = "label",
      labelTextSecond = "label",
      attributeName = "",
      attributeType = "text",
      placeholder = "",
      valueInInput = "",
      hasOneInput = false,
      data = {},
    } = options;
  - const numberOfElements = hasOneInput ? 1 : 2
  - const classLabelWithFilter = hasOneInput ? "input-datepicker__label_with_filter" : "";
  - const classInputWithFilter = hasOneInput ? "input-datepicker__date_with_filter" : "";
  - let index = 0;  

  div.input-datepicker.js-input-datepicker(data-options=data)
    while index < numberOfElements
      - index++
      label(class=`input-datepicker__label ${classLabelWithFilter}`)= labelTextFirst
        input(
          class=`input-datepicker__date js-input-datepicker__date ${classInputWithFilter}`
          readonly
          autocomplete="off"
          name=`${attributeName}-${index}`
          value=valueInInput
          type=attributeType
          placeholder=placeholder
        )
        span.input-datepicker__icon.js-input-datepicker__icon keyboard_arrow_down