//- 
  const options = {
    text: String,
    name: String,
    checked: Boolean,
  };
mixin radio-btn(options = {})
  - const { text = "", name = "", checked = false } = options;
    if checked
      .radio-btn
        label.radio-btn__label
          input.radio-btn__field.radio-btn__field_hidden(type="radio", name=name, value=text, checked)
          span.radio-btn__text= text
    else
      .radio-btn
        label.radio-btn__label
          input.radio-btn__field.radio-btn__field_hidden(type="radio", name=name, value=text)
          span.radio-btn__text= text