//- 
  const options = {
    text: String,
    name: String,
    isChecked: Boolean,
  };
mixin radio-btn(options = {})
  - 
    const { 
      text = "",
      name = "",
      isChecked = false,
    } = options;
    
  .radio-btn
    label.radio-btn__label
      input(
        class="radio-btn__field radio-btn__field_hidden"
        type="radio"
        name=name
        value=text
        checked=isChecked
      )
      span.radio-btn__text= text
