//- components
include ~@comp/button/button

//- 
  В данном миксине используется шрифт Material Icons, необходимо подключить данный шрифт в проект
  const options = { 
    logoImg: String,
    logoLink: String,
    hasUserLogin: Boolean
    userLogin: String,
    userLoginLink: String,
    menuLink: {
      "linkText": "link",
      "linkText": {
         "linkText": "link",
      },
    },
    btnBlock: [...options],
  };

mixin header(options = {})
  - 
    const { 
      logoImg = "",
      logoLink = "/mock-address/change-me",
      hasUserLogin = false,
      userLogin = "",
      userLoginLink = "/mock-address/change-me",
      menuLink = {},
      btnBlock = [],
    } = options;
    
  header.header.js-header
    .header__block
      .header__container
        .header__menu-overlay.js-header__menu-overlay
        .header__wrapper
          a(class="header__logo-link" href= logoLink)
            img(class="header__logo" src=require(`./img/${logoImg}`) alt="logo")
          nav.header__navigation
            ul.header__menu.js-header__menu
              each link, linkText in menuLink
                if typeof link === "object"
                  li.header__menu-link.js-header__menu-link.header__menu-link_with_dropdown.js-header__menu-link_with_dropdown
                    span.header__link-dropdown.js-header__link-dropdown
                      a(class="header__link js-header__link" href="/not-link/")= linkText
                      span.header__link-arrow.js-header__link-arrow expand_more
                    ul.header__submenu.js-header__submenu.header__submenu_hidden
                      each href, linkText in link
                        li.header__menu-link.js-header__menu-link
                          a(class="header__link js-header__link" href= href)= linkText
                else
                  li.header__menu-link.js-header__menu-link
                    a(class="header__link js-header__link" href=link)= linkText
          svg.header__hamburger.js-header__hamburger(viewBox="0 0 100 100" width="60" tabindex="0")
            path.header__hamburger-line.header__hamburger-line_position_top(
              d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,\
              -10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40"
            )
            path.header__hamburger-line.header__hamburger-line_position_middle(d="m 30,50 h 40")
            path.header__hamburger-line.header__hamburger-line_position_bottom(
              d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,\
              -27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40"
            )
          if hasUserLogin
            a(class="header__login" href=userLoginLink)= userLogin
          else
            .header__btn
              each options in btnBlock
                .header__btn-elem
                  +button(options)
