//- components
include ~@comp/input/input
include ~@comp/button/button

//- 
  В данном миксине используется шрифт Material Icons, необходимо подключить данный шрифт в проект
  const options = {
    title: String,
    formAction: String,
    formName: String,
    inputOptions: {
      email: {},
      password: {},
    },
    buttonOptions: {
      submit: {},
      create: {},
    },
  };

mixin card-input(options = {})
  - 
    const { 
      title = "Войти",
      formAction = "/mock-address/action",
      formName = "card-input",
      inputOptions = {},
      buttonOptions = {},
    } = options;

  .card-input
    .card-input__block
      h1.card-input__title #{title}
      form(
        class="card-input__form"
        action=formAction
        method="post"
        name=formName
      )
        .card-input__wrapper
          .card-input__elem
            +input(inputOptions.email)
          .card-input__elem
            +input(inputOptions.password)
          .card-input__btn
            +button(buttonOptions.submit)
      .card-input__sign-in
        span.card-input__text Нет аккаунта на Toxin?
        .card-input__mini-btn
          +button(buttonOptions.create)