//- components
include ~@comp/like/like.pug
//-
  const options = {
    name: String,
    avatarImg: String,
    time: String,
    likeBtnNum: Number,
    likeBtnActive = true,
    text: String,,
  };
mixin feedback(options = {})
  - const { name = "", avatarImg = "", time = "", likeBtnNum = 0, likeBtnActive = true, text = "" } = options;
      .feedback
        .feedback__block
          .feedback__top
            .feedback__avatar
              img(src=require(`./img/${avatarImg}`), alt="avatar")
            .feedback__info
              .feedback__info-name= name
              span.feedback__info-time= time
          .feedback__main
            .feedback__btnlike
              +like({counter:`${likeBtnNum}`, active: likeBtnActive})
            .feedback__text= text
