//- const { text, name, checked } = options;
mixin checkbox(options)
  - const { text, name, checked } = options;
      if checked
        .checkbox__elem
          label
            input.checkbox__field.visuallyhidden(type="checkbox", name=name, value=text, checked)
            span= text
      else
        .checkbox__elem
          label
            input.checkbox__field.visuallyhidden(type="checkbox", name=name, value=text)
            span= text