//- 
  const options = { 
    title: String,
    subtitle: String,
    nameCheckbox: String,
    isExpanded: Boolean,
    isChecked: Boolean,
  };
mixin checkbox(options = {})
  - 
    const { 
      title = "",
      subtitle = "",
      nameCheckbox = "",
      isExpanded = false,
      isChecked = false,
    } = options;
    
  .checkbox
    .checkbox__elem
      label
        input.checkbox__field.checkbox__field_hidden(type="checkbox", name=nameCheckbox, value=text, checked=isChecked)
        if isExpanded
          span.checkbox__title.checkbox__title_style_bold= title
          span.checkbox__subtitle!= `${subtitle}`
        else
          span.checkbox__title= title