//- components
include ~@comp/input/input
include ~@comp/footer-copyright/footer-copyright

//-
  В данном миксине используются иконки шрифта Font Awesome, необходимо подключить данный шрифт в проект
  const options = {
    logoImg: String,
    logoLink: String,
    footerDescr: String,
    subBlockTitle: String,
    subBlockDescr: String,
    subFormAction: String,
    copyrightText: String,
    socialLinks: {
       "icon": "href",
    },
    menuLink: {
      "title": {
         "linkText": "href",
      }
    },
  };

mixin footer(options = {})
  - 
    const {
      logoImg = "",
      logoLink = "/mock-address/change-me",
      footerDescr = "",
      subBlockTitle = "",
      subBlockDescr = "",
      subFormAction = "/mock-address/action",
      copyrightText = "",
      socialLinks = {},
      menuLink = {},
    } = options;

  footer.footer
    .footer__block
      .footer__container
        .footer__wrapper
          .footer__column
            a.footer__logo(href=logoLink)
              img(src=require(`./img/${logoImg}`) alt="logo")
            p.footer__descr= footerDescr
          each menuElem, title in menuLink
            .footer__column
              h3.footer__block-title= title
              ul.footer__menu-block
                each href, linkText in menuElem
                  li.footer__menu-elem
                    a(class="footer__menu-link" href= href)= linkText
          .footer__column
            h3.footer__block-subscribe-title= subBlockTitle
            p.footer__descr= subBlockDescr
            .footer__subscribe-block
              form(class="footer__subscribe-form" action= subFormAction, method="post", name="footer-subscribe-form")
                +input({
                  attributeName:"email-footer",
                  attributeType:"email",
                  placeholder:"Email",
                  inputTypeSubscribe: true,
                })
    +footer-copyright({ 
      copyrightText: copyrightText,
      logoLink: logoLink,
      logoImg: logoImg,
      socialLinks: socialLinks,
    })