//- 
  const options = { 
    text: String,
    name: String,
    isChecked: Boolean,
  };
  
mixin toggle(options = {})
  - 
    const {
      text = "",
      name = "",
      isChecked = false,
    } = options;
    
  .toggle
    label.toggle__elem 
      input(
        class="toggle__input toggle__input_hidden"
        type="checkbox"
        name=name
        value=text
        checked=isChecked
      )
      span.toggle__block
      span.toggle__indicator
      span.toggle__name= text
